@using MyHandMadeShop.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<main class="_content">
    <div class="_grid-row" style="background-image: url('https://cdncloudcart.com/16241/files/image/new_banner1-5e79ef4928f3f.jpg'); 
                        background-position: center bottom; 
                        background-size: cover;padding-top: 150px; padding-bottom: 150px; margin-top: 0px; margin-bottom: 0px; padding-left: 0px; padding-right: 0px;margin-left: 0px; margin-right: 0px;"><div class="container"><div class="row"><div class="col-md-2"></div><div class="col-md-8"><div class="_grid-section">    <div class="_text ">
                        <div class="_text-title _text-title-empty">
                    </div>
        <div class="_text-description">
            <h1 class="text-aligncenter"><strong><span style="color: #242732;">MyHandMadeShop</span></strong></h1>
<h2 class="text-aligncenter">&nbsp;</h2>
<h5 class="text-aligncenter"><strong><span style="color: #242732;">Ръчно изработени изделия.</span></strong><br><strong><span style="color: #242732;">Ние сме насреща, за да осъществим бягството ви от стандартите и монотонното.</span></strong></h5>
        </div>
            </div>

</div><div class="_grid-section">    <div class="text-center">
        
    </div>
</div></div><div class="col-md-2"></div></div></div></div>


