@using MyHandMadeShop.Web.ViewModels.Orders
@model BuyViewModel
@{
    this.ViewData["Title"] = "Списък с поръчки";
}

    <h1>@ViewData["Title"]</h1>


<div class="row">
    @if (Model.Orders.Count() > 0)
    {
        foreach (var order in Model.Orders)
        {
            <div class="col-1 text-center">
                <input id="order@order.Id
               name="Orders"
               value="@order.Id"
               class="form-control" />
                <label for="order@order.Id">@order.Name</label>
            </div>
        }

    }


                    
               
    
   




